# Dependencies
node_modules
.pnpm-store

# Production build output
dist
build

# Environment variables & local configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.vite

# Editor & OS files
.DS_Store
Thumbs.db
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
